RewriteEngine on 
RewriteCond %{HTTP_HOST} ^(www.)?jsvilla.com$ 
RewriteCond %{REQUEST_URI} !^/dist/ 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /dist/$1 
RewriteCond %{HTTP_HOST} ^(www.)?jsvilla.com$ 
RewriteRule ^(/)?$ dist/index.html [L]