<div class="logo">JSVILLA</div>

<div class="menu-item">
    <div class="menu-title">Tags</div>
    <div class="submenu" *ngFor="let tag of tags; let i=index">
        <a [routerLink]="['./', 'tag--' + tag.unique_value || tag.id]">{{tag.title}}</a>
    </div>
</div>
<div class="menu-item">
    <div class="menu-title">Authors</div>
    <div class="submenu" *ngFor="let author of authors; let i=index">
        <a [routerLink]="['./', 'author--' + author.unique_value || author.id]">{{author.name}}</a>
    </div>
</div>