
.logo {
    font: 800 30px/1.3 Helvetica, sans-serif;
    color: #907d04;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    text-align: center;
    padding: 15px 0;
}
.menu-wrap {
    background: #F0DB4F;
    width:250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    overflow: auto;
    z-index: 1;
}
.menu-item, :host .menu-item-only {
    margin-bottom: 15px;
}
.menu-item-only .menu-title {
    padding: 7px 0;
    font-size: 20px;
    border-top: 1px solid #dac32b;
}
.menu-item-only .menu-title:hover {
    text-decoration: underline;
}
.menu-item .menu-title {
    padding: 7px 15px;
    border-bottom: 1px solid #dac32b;
    border-top: 1px solid #dac32b;
}
.menu-item a, :host .menu-item-only a  {
    padding: 7px 15px;
    text-decoration: none;
    color: #907d04;
    font-size: 20px;
}
.menu-item a:hover {
    color:#6b5e0b;
    text-decoration: underline;
}
.menu-item .submenu {
    display: flex;
}    
.back-shadow {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.8;
    display: none;
}
.hamburger-icon { 
    width: 30px;
    height: 30px;
    background: #907d04;
    border-radius: 50px;
    margin-right: auto;
    margin-left: 20px;
    display: none;
    position: absolute;
    top: 14px;
}
.hamburger-line {
    height: 1px;
    background: #fff;
    width: 13px;
    margin-top: 4px;
    margin-left: 9px;
}
.hamburger-line-top {
    margin-top: 9px;
}
@media only screen and (max-device-width: 768px){
    .logo {
        display: none;
    }
    .hamburger-icon, .back-shadow { 
        display: block;
    }
}