<div class="flex-row">
    <form *ngIf="!showAuthorForm" (ngSubmit)="savePost();postForm.reset()" #postForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #title="ngModel">
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                Title is required
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-bind-html="description" contenteditable="true" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel"></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                Description is required
            </div>
        </div>
        
        <div class="form-group">
            <label for="image_url">Image url</label>
            <input type="text" class="form-control" id="image_url" [(ngModel)]="model.image_url" name="image_url" #image_url="ngModel">
            <div [hidden]="image_url.valid || image_url.pristine" class="alert alert-danger">
                Image URL is required
            </div>
        </div>

        <div class="form-group">
            <label for="demo_url">Demo url</label>
            <input type="text" class="form-control" id="demo_url" [(ngModel)]="model.demo_url" name="demo_url" #demo_url="ngModel">
        </div>

        <div class="form-group">
            <label for="url">Url</label>
            <input type="text" class="form-control" id="url" required [(ngModel)]="model.url" name="url" #url="ngModel">
            <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
                URL is required
            </div>
        </div>
        <div class="form-group">
            <label for="url">Tags</label>
            <div *ngFor="let tag of tags; let i=index">
                <input type="checkbox" (change)="onChange(tag, $event.target.checked)" />{{tag.title}}
            </div>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <select class="form-control" id="author" required [(ngModel)]="model.author_id" name="author" #author="ngModel">
                <option *ngFor="let author of authors" [value]="author.id">{{author.name}}</option>
            </select>
            <a (click)="showAuthorForm = true">Add Author</a>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                Author is required
            </div>
        </div>

        <div class="form-group">
            <label for="posted">Posted Date</label>
            <input type="text" class="form-control" id="posted" required [(ngModel)]="model.posted_date" name="posted" #posted="ngModel">
            <div [hidden]="posted.valid || posted.pristine" class="alert alert-danger">
                Posted Date is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="postForm.reset()">Reset</button>
    </form>



    <form *ngIf="showAuthorForm" (ngSubmit)="saveAuthor();authorForm.reset()" #authorForm="ngForm">
        <div class="form-group">
            <label for="name">Author name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="author.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Author name is required
            </div>
        </div>
        <div class="form-group">
            <label for="author_description">Author description</label>
            <input type="text" class="form-control" id="author_description" [(ngModel)]="author.description" name="author_description" #author_description="ngModel">
        </div>
        <div class="form-group">
            <label for="name">Twitter</label>
            <input type="text" class="form-control" id="twitter_url" [(ngModel)]="author.twitter_url" name="twitter_url" #twitter_url="ngModel">
        </div>
        <div class="form-group">
            <label for="name">Github</label>
            <input type="text" class="form-control" id="github_url" [(ngModel)]="author.github_url" name="github_url" #github_url="ngModel">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!authorForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="authorForm.reset()">Reset</button>
    </form>
</div>